.multiplechoice-main {
    font-family: 'Orbitron', sans-serif;
    position: relative;
    height: 80%;
}
#question-showing {
    display: block;
}
#question-hidden {
    display: none;
}
#correct-answer-revealed {
    color: pink;
}