.alien-area {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    position: relative;
}
.alien-head {
    position: relative;
    width: 100%;
    max-width: 210px;
    height: 80%;
    top: 20%;
    background-color: greenyellow;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.antenna-top-left {
    width: 10px;
    height: 45px;
    background-color: greenyellow;
    position: absolute;
    top: 0;
    left: 45%;
    transform: rotate(-25deg);
}
.antenna-top-right {
    width: 10px;
    height: 45px;
    background-color: greenyellow;
    position: absolute;
    top: 0;
    right: 45%;
    transform: rotate(25deg);
}
.left-eye {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 0px auto;
    top: 30%;
    left: 20%;
}
.right-eye {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 0px auto;
    top: 30%;
    right: 20%;
}
.left-pupil {
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 45%;
    transition: .2s;
    
}
.right-pupil {
    background-color: white;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 30%;
    transition: .2s;
}
#looking-left {
    top: 75%;
    left: 28%;
    transition: .2s;
}
#looking-right {
    top: 75%;
    left: 28%;
    transition: .2s;
}
.mouth {
    background-color: black;
    height: 3px;
    width: 20px;
    position: absolute;
    left: 45%;
    bottom: 25%;
    transition: .3s;
}
#open {
    width: 15px;
    height: 10px;
    border-radius: 50%;
    transition: .3s;
}